body{
    width: 960px;
    box-sizing: border-box;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/leather_1.png");
    color: #777777;
    line-height: 1.5;
}
h1{
    display: inline-block;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
h2{
    color: #4aaaa5;
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    padding-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input{
    width: 100%;
    margin: 5px 0;
}
.Message input{
    height: 200px;
}
.profile-pic{
    float: left;
    width: 15%;
    height: 15%;
    padding-right: 20px ;
}
.About{ 
    float: right;
    padding-right: 5px;
}
.wrapper{
    margin-bottom: 3em;
}
.thumbnail{
    height: 300px;
    width: 300px;
    object-fit: cover;
}
.label {
    color: #ffffff;
    background-color: #4aaaa5;
    box-sizing: border-box;
    position: absolute;
    bottom: 5%;
    width: 100%;
    padding: 5px;
    line-height: 2;
}
.images{
    background-color: #fafafa;
    height: 300px;
    width: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    display: inline-block;
    position: relative;
}
.Portfolio{
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    border-left-style: solid;
    border-left-color: #cccccc;
    border-right-style: solid;
    border-right-color: #cccccc;
}

.Contact{
    padding-left: 5px;
    float: right;
}

.header{
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    /* position: relative; 
    left: 0;
    top: 0; */
    width: 100%;
    background-color: #ffffff;
    color: #777777;
    z-index: 5;
}

section{
    /* position: relative;
    top: 60px; */
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-style: solid;
    border-color: #dddddd;
    /* color: #777777; */
    line-height: auto;
    background-color: #ffffff;

}

footer{
    font-size: 10px;
    background-color: #666666;
    color: #ffffff;
    border-top: 8px;
    border-style: solid;
    border-top-color: #4aaaa5;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;    
}