/*
This is the CSS file linked to index.html, contact.html, and portfolio.html. 
*/

.about{ /*The about link at the top of the page
        In all pages*/
    float: right;
    padding-right: 5px;
}

body{ /*In all pages*/
    background-image: url("../images/leather_1.png");
    box-sizing: border-box;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: auto;
    width: 960px;
}

button{ /*In contact.html*/
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    padding: 5px 20px;
}

button:active{ /*In contact.html*/
    background-color: cornflowerblue;
}

.contact{ /*The contact link at the top of the page
        In all pages*/
    float: right;
    padding-left: 5px;
}

footer{ /*Styles the footer to be fixed at the bottom of the page
        In all pages*/
    background-color: #666666;
    border-top: 8px;
    border-style: solid;
    border-top-color: #4aaaa5;
    bottom: 0;
    color: #ffffff;
    font-size: 10px;
    left: 0;
    padding-bottom: 5px;
    padding-top: 15px;
    position: fixed;
    text-align: center;
    width: 100%;    
}

h1{ /*This changes the format for my name in the header 
        In all pages*/
    background-color: #4aaaa5;
    color: #ffffff;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 10px;
}

h2{ /*The heading of the page we are on 
        In all pages*/
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 15px;
}

.header{ /*Changes the color of the header and stretching it across the screen 
        In all pages*/
    background-color: #ffffff;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    color: #777777;
    width: 100%;
}

.images{ /* Lets the images sit next to eachother in columns with a gap in between 
        In portfolio.html*/
    display: inline-block;
    margin: 20px;
    position: relative;
}

input{ /*Changes the layout of the text box 
        In contact.html*/
    line-height: 1.5;
    margin: 5px 0;
    width: 100%;
}

.label {/*Changes format for the labels that overlap the images
        In portfolio.html*/
    background-color: #4aaaa5;
    bottom: 5%;
    box-sizing: border-box;
    color: #ffffff;
    line-height: 2;
    padding: 5px;
    position: absolute;
    width: 100%;
}

.message input{ /*changes the height of the message box
        In contact.html*/
    height: 200px;
}

.portfolio{ /*The portfolio link at the top of the page
        In all pages*/
    border-left-color: #cccccc;
    border-left-style: solid;
    border-right-color: #cccccc;
    border-right-style: solid;
    float: right;
    padding: 0 5px;
}

.profile-pic{ /*Changes height and width of profile pic, sets it to the left and wraps text around it 
        In index.html*/
    float: left;
    height: 15%;
    padding-right: 20px ;
    width: 15%;
}

section{ /*contains the heading and the content of each page
        In all pages*/
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: solid;
    line-height: auto;
    margin: 20px 0;
    padding: 20px;
}

.thumbnail{ /*sets the max size of the images and crops them to fit
        In portfolio.html*/
    height: 300px;
    object-fit: cover;
    width: 300px;
}
